<%- include('../partials/header'); %>
<br><br>
<form id="new-form" action="/courses" method="POST">
  <label>Course Name:</label>
  <input type="text" name="name" required><br>
  <label>Course Length:</label>
  <input type="number" name="length" required><br>
  <label>Hole Count:</label>
  <select name="holeCount">
    <option value="9">9</option>
    <option value="18" selected>18</option>
  </select><br>
  <label>Course Type:</label>
  <select name="courseType">
    <option value="Public" selected>Public</option>
    <option value="Private">Private</option>
  </select><br>
  <label>Location:</label>
  <input type="text" name="location" placeholder="City, ST" required><br>
  <label>Image URL:</label>
  <input type="text" name="image"><br>
  <button type="submit">Add Course</button>
</form>

<%- include('../partials/footer'); %>