<%- include('./partials/header') %>
<section class="homepage">
  <h2>A COLLECTION OF GOLF COURSES AROUND THE GLOBE!
  </h2>
  <p>View, Rate, and Review golf courses!</p>
  <br>
  <img src="https://i.imgur.com/bsqZC9P.jpg" alt="golf course image">
</section>
<%- include('./partials/footer') %>