<%- include('./partials/header') %>
  <br>
  <section class="homepage">
    <h3>A COLLECTION OF GOLF COURSES AROUND THE GLOBE!
    </h3>
    <p>View, Rate, and Review golf courses!</p>

    <img src="https://i.imgur.com/Y0CK4Ey.jpg" alt="">
  </section>
  <%- include('./partials/footer') %>