body {
  margin: 0;
  height: 100vh;
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #353535;
  color: #FFFFFF;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {
  grid-area: nav;
  background-color: #2A2A2A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 20px;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
  padding: 20px;
}

nav>h1 {
  margin-right: auto;
}

nav>img {
  width: 34px;
  margin-left: 2rem;
  object-fit: contain;
  border-radius: 50%;
  height: 34px;
}

nav>a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover:not(.active) {
  color: white;
}

nav>a.active {
  color: white;
  cursor: default;
}

a {
  color: #00B7FF;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

.homepage {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5vmax 5vmax auto;
}

.homepage h3,
p {
  justify-self: center;
}

.homepage img {
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img,
.comment-user img {
  border-radius: 50%;
  height: 60px;
}

.more-details {
  color: white;
  text-decoration: none;
}

.course-info .more-details {
  display: grid;
  grid-template-columns: repeat(3, 20vmax) auto;
  grid-template-rows: auto 5vmax 5vmax 5vmax;
}

.course-info .more-details img {
  grid-column: span 3;
  width: 100%;
}

.course-info .more-details h2 {
  grid-row: 3;
  align-self: center;
}

.course-info .more-details #location {
  grid-row: 4;
  margin-top: 0;
  align-content: flex-start;
}

.course-info .more-details #location p {
  margin-top: 0;
}

.course-details {
  display: grid;
  grid-template-columns: repeat(6, 10rem);
  grid-template-rows: auto 5vmax 5vmax;
}

.course-details img {
  grid-column: span 6;
  width: 100%;
}

.course-details div {
  justify-self: center;
}

.show-review-image img {
  width: 30vmax;
}

#new-form,
#update-course-form,
#new-review-form,
#comments-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-review-form input,
#update-course-form select,
#new-form input,
#new-review-form select,
#new-form select,
#comments-form button {
  grid-column-start: 2;
  border-radius: 5px;
}

#new-review-form label,
#update-course-form label,
#new-form label,
#comments-form textarea {
  grid-column-start: 1;
  border-radius: 5px;
}

#new-form *,
#update-course-form *,
#new-review-form *,
#comments-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#comments-form button {
  width: 8rem;
  height: 2.5vmax;
  font-size: 1.1vmax;
  justify-self: center;
  border-radius: 5px;
  background-color: #2A2A2A;
  color: white;
}

#comments-form button:hover,
#new-review-form button:hover,
#update-course-form button:hover,
#new-form button:hover {
  background-color: green;
}

#new-review-form button,
#update-course-form button,
#new-form button {
  grid-column: span 2;
  width: 9.5vmax;
  height: 2.5vmax;
  font-size: 1.1vmax;
  margin-left: auto;
  border-radius: 5px;
  background-color: #2A2A2A;
  color: white;
}

a:hover {
  color: white;
  cursor: pointer;
}

.v-e-d * {
  font-size: 15px;
  display: inline;
}

.v-e-d *:hover {
  color: white;
}

.v-e-d button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
}

.comments-show {
  display: grid;
  grid-template-columns: auto repeat(3, 25vmax) auto;
}

.comments-show>.comment-user {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: flex-start;
}

.comments-show>#user-name {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

.comments-show>#content {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: flex-start;
  align-self: center;
}

.comments-show>.v-e-d {
  grid-column-start: 4;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

#new-rvw-btn button {
  width: 8vmax;
  height: 2.5vmax;
  margin-left: auto;
  border-radius: 5px;
  background-color: #2A2A2A;
  color: white;
  font-size: 1.1vmax;
}

#new-rvw-btn button:hover {
  background-color: green;
}

footer p {
  font-size: 12px;
  float: right;
}