<%- include('../partials/header') %>

<form id="new-review-form" action="/courses/<%= course._id %>" method="POST">
  <label>Review:</label>
  <textarea name="content"></textarea><br>
  <label>Overall Rating:</label>
  <select name="overallRating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Course Difficulty:</label>
  <select name="difficulty">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Course Condition:</label>
  <select name="condition">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select><br>
  <label>Image URL:</label>
  <input type="text" name="image"><br>
  <button type="submit">Add Review</button>
</form>

<%- include('../partials/footer') %>